body{
    margin: 0 auto;
    padding:100px 50px; 
     
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url("c19.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1{
   text-align: center;
   color:yellow;
}


.container{
    border: 1px solid black;
    border-radius: 25px;
    padding: 50px 25px;
    background-color: #d3d7dfc5;
   
    margin: 25px auto;
    
}

label{
    font-size: 22.5px;
}

@media only screen and (max-width:768px) {
    body{
        padding:15px;   
    }
    .container{
        width: 100%;
    }
    
    table{
        width: 100%;
    }
    h5{
        font-size: 16px; 
    }
}


@media only screen and (max-width:426px){
    body{
        padding:7.5px;   
    }
    .container{
        width: 100%;
        padding-bottom:50px;
        padding-top:20px;
        
    }
    th{
        font-size: 15px;
    }
    
    h1{
        font-size: 22.5px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 15px; 
    }
    h5{
        font-size: 14px; 
    }
    h6{
        font-size: 12px;   
    }
}
@media only screen and (max-width:1025px) and (min-width:571px) {
.fl{
    padding-bottom: 18px;
}}